
body {
    padding-top: 70px;
}


#status{
    color: #ffE;
    padding-right: 10px;
}
.navbar-form{
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}
